@font-face {
    font-family: ProductSans;
    src: url("../assets/Product Sans Regular.ttf") format("truetype");
}
@font-face {
    font-family: BoldProductSans;
    src: url("../assets/Product Sans Bold.ttf") format("truetype");
}

body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(23, 18, 41);
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

p, h1 {
    color: white;
}
a {
    color: rgb(82, 142, 255)
}

.entry {
    width: 100%;
    max-width: 400px;
    height: 270px;
    background-color: rgb(30, 27, 49);
    border-radius: 1.5rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.entry h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
    font-family: BoldProductSans;
}

.entry p {
    font-size: 1rem;
    font-weight: lighter;
    margin: 0.25rem 0;
}

.labelrow {
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 0.5rem;
}

.label, .goodlabel, .medlabel, .badlabel {
    color: rgb(255, 255, 255);
    flex: 1;
    max-width: 100px;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-weight: lighter;
    border-radius: 1.25rem;
    padding-bottom: 2rem 0;
    font-size: 0.75rem;
}

.label {
    background-color: rgba(70, 64, 105, 0.5);
}

.goodlabel {
    background-color: rgba(46, 122, 39, 0.5);
}
.medlabel {
    background-color: rgba(173, 119, 48, 0.5);
}
.badlabel {
    background-color: rgba(207, 62, 62, 0.5);
}

.goodtext {
    color: rgb(84, 202, 73);
}
.medtext {
    color: rgb(255, 164, 80);
}
.badtext {
    color: rgb(219, 53, 53);
}
.reallybadtext {
    color: rgb(59, 0, 0);
}
.note {
    color: rgba(255, 255, 255, 0.349);
}

* {
    font-family: ProductSans;
    box-sizing: border-box;
}
