@font-face {
    font-family: ProductSans;
    src: url("../assets/Product Sans Regular.ttf") format("truetype");
}
@font-face {
    font-family: BoldProductSans;
    src: url("../assets/Product Sans Bold.ttf") format("truetype");
}

body, html {
    margin: 0;
    padding: 0;
    background-color:rgb(23, 18, 41);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    display: grid;
    grid-template-columns: repeat(3, 470px);
    gap: 20px;

}

.entry {
    width: 470px;
    height: 270px;
    background-color: rgb(30, 27, 49);
    border-radius: 25px;
}

.entry h1 {
    font-size: 50px;
    font-weight: 500;
    padding-left: 5%;
    padding-top: 2.5%;
    margin-top: 1%;
    margin-bottom: 2.5%;
    font-family: BoldProductSans;
}

.entry p {
    font-size: 20px;
    font-weight: lighter;
    padding-left: 5%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: auto;
}

.labelrow {
    overflow: hidden;
    margin-left: 4%;
    padding-bottom: 2.5%
}

.label {
    background-color: rgba(70, 64, 105, 0.5);
}

.goodlabel {
    background-color: rgba(46, 122, 39, 0.5);
}
.medlabel {
    background-color: rgba(173, 119, 48, 0.5);
}
.badlabel {
    background-color: rgba(207, 62, 62, 0.5);
}

.goodtext {
    color: rgb(84, 202, 73);
}
.medtext {
    color: rgb(255, 164, 80);
}
.badtext {
    color: rgb(219, 53, 53);
}
.reallybadtext {
    color: rgb(59, 0, 0);
}

.labelrow * {
    width: 100px;
    height: 40px;
    line-height: 250%;
    text-align: center;
    font-weight: lighter;
    margin-left: 1%;
    border-radius: 25px;
    float: left;
}

* {
    font-family: ProductSans;
    color:white
}
